table {
  width: 100%;
}


.btn-add {
  bottom: 10px;
  position: absolute;
}

.no-course-found {
  font-size: 20px;
}

.student-details-card {
  margin-top: 50px;
}

.highlight {
  background-color: #4d4c4c36
}
