<div class="row">

  <mat-card class="col-md-12">
    <mat-card-title>Courses List</mat-card-title>
    <mat-card-subtitle>Below is a list of registered courses, click on each course to show the students that are
      enrolled in.</mat-card-subtitle>
    <div class="row">
      <div class="col-md-11">
        <table mat-table [dataSource]="courses" class="mat-elevation-z1" *ngIf="(courses && courses.length > 0); else noCourses">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- location Column -->
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
          </ng-container>

          <!-- teacher Column -->
          <ng-container matColumnDef="teacher">
            <th mat-header-cell *matHeaderCellDef> Teacher </th>
            <td mat-cell *matCellDef="let element"> {{element.teacher.firstName}} {{element.teacher.lastName}} </td>
          </ng-container>

          <!-- actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editCourse(element)"><i class="material-icons">edit</i></button>
              <button mat-icon-button (click)="deleteCourse(element)"><i class="material-icons">delete</i></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}"
            (click)="onCourseRowClicked(row)"></tr>
        </table>

        <ng-template #noCourses>
          <span class="no-course-found">No Cources found!</span>
        </ng-template>
      </div>

      <div class="col-md-1">
        <button mat-mini-fab class="btn-add" (click)="addNewCourse()"><i class="material-icons">add</i></button>
      </div>
    </div>

  </mat-card>
</div>


<div class="row">

  <mat-card class="col-md-12 student-details-card">
    <mat-card-title *ngIf="selectedCourse">Students enrolled in course <strong>{{selectedCourse.name}}</strong></mat-card-title>
    <div class="row">
      <div class="col-md-11">
        <app-student-grade-list *ngIf="selectedCourse; else courseNotSelected" [course]="selectedCourse"></app-student-grade-list>

        <ng-template #courseNotSelected>
          <span class="no-course-found">Click on a course to see the students enrolled in.</span>
        </ng-template>
      </div>

      <div class="col-md-1">
        <button *ngIf="selectedCourse" mat-mini-fab class="btn-add" (click)="createStudentGrade(selectedCourse)"><i
            class="material-icons">add</i></button>
      </div>
    </div>

  </mat-card>
</div>

<div class="row">

  <mat-card class="col-md-12 student-details-card">
    <mat-card-title>All Students</mat-card-title>
    <div class="row">
      <div class="col-md-11">
        <app-student-list #studentsListC></app-student-list>
      </div>

      <div class="col-md-1">
        <button mat-mini-fab class="btn-add" (click)="createStudent(selectedCourse)"><i class="material-icons">add</i></button>
      </div>
    </div>

  </mat-card>
</div>
