<h1 mat-dialog-title>Add a Teacher</h1>

<div mat-dialog-content>

  <form>
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="First Name" [formControl]="firstNameFormControl" [errorStateMatcher]="matcher" />
        <mat-hint>First Name</mat-hint>
        <mat-error *ngIf="firstNameFormControl.hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="firstNameFormControl.hasError('minlength')">
          Too Short (Min 5 chars)
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" [formControl]="lastNameFormControl" [errorStateMatcher]="matcher" />
        <mat-hint>Last Name</mat-hint>
        <mat-error *ngIf="lastNameFormControl.hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="lastNameFormControl.hasError('minlength')">
          Too Short (Min 5 chars)
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <div *ngIf="hasError">
    <span class="error">Something happened while trying to add the record, please try again.</span>
  </div>

</div>


<div mat-dialog-actions>
  <button mat-raised-button [color]="'accent'" (click)="createTeacher()" cdkFocusInitial>CREATE</button>
  <button mat-raised-button [color]="'primary'" (click)="closeDialog()">CLOSE</button>
</div>
