<h1 mat-dialog-title *ngIf="!data.course">Add a Course</h1>
<h1 mat-dialog-title *ngIf="data.course">Edit Course <strong>{{data.course.name}}</strong></h1>

<div *ngIf="teachers && teachers.length > 0 ; else noTeachers">
  <div mat-dialog-content>

    <form [formGroup]="courseForm">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Course Name" [formControl]="nameFormControl" [errorStateMatcher]="matcher" />
          <mat-hint>Course Name</mat-hint>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Course Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('minlength')">
            Too Short (Min 5 chars)
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Location" [formControl]="locationFormControl" [errorStateMatcher]="matcher" />
          <mat-hint>Location that course is held at</mat-hint>
          <mat-error *ngIf="locationFormControl.hasError('required')">
            Location is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="locationFormControl.hasError('minlength')">
            Too Short (Min 5 chars)
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Teacher" [formControl]="teacherFormControl">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
              {{teacher.firstName}} {{teacher.lastName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="teacherFormControl.hasError('required')">
            You should choose a <strong>teacher</strong>!
          </mat-error>
        </mat-form-field>

        <div *ngIf="hasError">
          <span class="error">Something happened while trying to add the record, please try again.</span>
        </div>

      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <div class="row">
      <div class="col-md-10">
        <button mat-button *ngIf="!data.course" (click)="createCourse()" [disabled]="courseForm.invalid"
          cdkFocusInitial>CREATE</button>
        <button mat-button *ngIf="data.course" (click)="editCourse()" [disabled]="courseForm.invalid" cdkFocusInitial>EDIT</button>
        <button mat-button (click)="closeDialog()">CLOSE</button>
      </div>
      <div class="col-md-2">
        <button mat-button (click)="showAddTeacherDialog()">ADD TEACHER</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noTeachers>
  <div mat-dialog-content>
    <span class="no-teacher-found">No <strong>Teacher</strong> Found!</span>
    <br />
    <p>Please first add a teacher, then try again for adding a course.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="showAddTeacherDialog()" cdkFocusInitial>Add Teacher</button>
    <button mat-button (click)="closeDialog()">CLOSE</button>
  </div>
</ng-template>
